body {
    font-family: sans-serif;
    background-color: gold;
    margin: 0;
}

header {
    justify-content: space-between;
    padding:0.5% ;
    margin-bottom: 20px;
    display: flex;
    background-color: blue;
}





h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}



article {
    background-color: white;
    padding: 3%;
    width: 400px;
    margin:5% 1% 5% 5%;
}



footer {
    background-color: white;
    padding: ;
    display: flex
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}

nav a{
    position: absolute;
    left:-80px;
    transition: 0.75s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius:0px 5px 5px 0px;
    
    
    
}

}







article img{
    opacity: 0.5;
}



article img:hover {
   opacity: 1;
}




main a{
    background-color: darkkhaki;
}
